<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM - (Pacilio, Julián / Gattas, Silvina)</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/vue.js"></script>
</head>

    <body>
    
        <div id="app">       
            <nav>
                <ul>
                    <li><router-link to="/" exact>Home</router-link></li>
                    <li><router-link to="/resultado" exact>Ver el resultado</router-link></li>
                </ul>
            </nav>    

            
            <transition name="fade" mode="out-in">
                <router-view>

                </router-view>
            </transition>
        </div>

    <script src="scripts/router/vue-router.js"></script>

    <script src="componentes/form.js"></script>
    <script src="componentes/resultado.js"></script>
    <script src="componentes/cuestionario.js"></script>
    
    <script src="scripts/router/rutas.js"></script>

    </body>
</html>

<!-- 
<div class='form'>
    <form v-on:submit.prevent novalidate>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" v-model="form_data.nombre">
        </div>

        <div>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" v-model="form_data.apellido">
        </div>

        <div>
            <label for="Edad">Edad</label>
            <input type="number" name="edad" id="edad" v-model.number="form_data.edad">
        </div>

        <div>
            <label for="masculino">Masculino</label>
            <input type="radio" id="masculino" v-bind:value="H" v-model="form_data.sexo">
            <label for="femenino">Femenino</label>
            <input type="radio" id="femenino" v-bind:value="M" v-model="form_data.sexo">
        </div>
    </form>
</div> -->